


.User-Wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:flex-start;
    justify-self: flex-start;
    margin: 0;
    padding: 0;
    
    font-family: "Press Start 2P",sans-serif;
}
.User-Image-Wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.User-Image-Wrapper img{
    display: flex;
    min-height: 30vh;
    max-height: 36vh;
    margin-top: -20px;
    padding: 0;

}
.User-Head{
    display: flex;
    color: white;
    font-family: "Press Start 2P",sans-serif;    
    color: #00c800;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.User-Head span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:  clamp(9px, 3.5vw, 15px);
    color:gold;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1px;
    
}
#CowboyHat{
    width: 27%;

}