

canvas{
 margin:-130px 0px 0px 0px;
 max-width: 380%;
}


@media only screen and (max-width:900px){

    canvas{
      
        margin-left: -330px;
  
    }

  
  }
  @media only screen and (max-width:400px){
    
    canvas{
      
        margin-left: -250px;
  
    }
  }