

canvas {
  margin-top: -110px;
  position: relative;
  max-width: 100%;
  max-height: 70vh;
  cursor: pointer;
}

.Canvas-Wrapper {
  width: 100%;
  max-height: 66vh;
}





  @media only screen and (max-width:400px){
    
    canvas { margin-top: -80px;
    transform: scale(0.9);}

  }