
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.Header-Wrapper{
    font-family: "Press Start 2P";
    margin:0;
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0px 0px 0px 18px;
    background-color: transparent;
    text-transform: uppercase;
   
}

.Navbar-List{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding-left: 222px;
}
.Navbar-List p{
    font-size: 13px;
    width: 100%;
    color: white;
    letter-spacing: 0.01rem;
    font-weight: bold; 
    line-height: 20px; 
}
.Navbar-Button{
    background-color: transparent;
    color: white;
    line-height: 25px;
    font-family: "Press Start 2P";
    font-size: 13px;
    padding: 10px 30px;
    border:none;
    cursor: pointer;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 4px solid #f63630;

   
}
.Navbar-Button:hover{
    transform: scale(1.1);
}
@media only screen and (max-width:600px){

    #Navbar-List_p{
        display: none;
    }
    .Header-Wrapper{
        justify-content: space-between;
        padding-right: 30px;
    }
    .Navbar-List{
        padding-left: 100px;
    }
}
