
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.Header-Wrapper{
    font-family: "Press Start 2P";
    margin:0;
    display: flex;
    height: 80px;
    align-items: center;
    background-color: transparent;
    text-transform: uppercase;
    justify-content: space-between;
    width: 97.5vw;
}
.Navbar{
  width: 100vw;
}

.Navbar-List{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 15px;
    list-style: none;
    
}
.Navbar-List p{
    font-size: 13px;
    width: 100%;
    color: white;
    letter-spacing: 0.01rem;
    font-weight: bold; 
    line-height: 20px; 
}
.Navbar-Button{
    background-color: transparent;
    color: white;
    line-height: 25px;
    font-family: "Press Start 2P";
    font-size: 14px;
    padding: 10px 30px;
    border:none;
    cursor: pointer;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 4px solid #00ff00; 
    animation: neon-pulse 2s ease-in-out infinite alternate;

   
}
.Navbar-Button:hover{
    transform: scale(1.1);
}
@media only screen and (max-width:650px){
    .Navbar-List{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
        list-style: none;
        
    }

    #Navbar-List_p{
        display: none;
    }
    .Header-Wrapper{
        justify-content: space-between;

    }
    .Navbar-Button{
    
    }   
}
@media only screen and (max-width:400px){
    .Navbar-Button{
        padding: 10px 10px;
        font-size: 11px;
        max-width: 120px;
    }
    .Header-Wrapper{

    }
}