
.Room-Wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-image: url('../Images/sky.jpg');
    background-position: cover;
}

.Dashboard-Wrapper{
    width: 98%;
    display: flex;
    align-items: center;

    }

  @keyframes neon-pulse {
    from {
      border-color: #00ff00;
      box-shadow: 0 0 15px #00ff00;
    }
    to {
      border-color: #33ff33;
      box-shadow: 0 0 25px #33ff33;
    }
  }
.Dashboard{ 
    min-height: 92dvh;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
    border: 10px solid #00ff00; 
    animation: neon-pulse 2s ease-in-out infinite alternate;
}


.Dashboard-Tools{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0;
    justify-content: flex-start;
    width: 4vw;
}


.popUp{
    font-family: "Press Start 2P",sans-serif;
    height: 5vh;
}

.NavButtons-Wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
    justify-content: center;
    align-items: center;
}
.NavButtons-Wrapper button{
    background-color: transparent;
    line-height: 2;
    font-family: "Press Start 2P",sans-serif;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00c800;
    border:2px solid #00ff00; 
    animation: neon-pulse 2s ease-in-out infinite alternate;    
    border-radius: 50%;
    padding: 0;
    position: relative;
    width:clamp(60px,10vw,50px);
    height:clamp(60px,10vw,50px) ;
    
}
.NavButtons-Wrapper button:hover{transform: scale(1.05);}
.NavButtons-Wrapper button span{
    color: white!important;
    font-weight: bold   ;
    font-size: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     
   
}
.NavButtons-Wrapper button img{
    width:clamp(40px,10vw,50px);
    border-radius: 50%;
    margin-bottom: -5px;
    padding: 0;
}
.Display-Wrapper{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}
@media only screen and (max-width:950px){
    .Dashboard{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
    }
    .Dashboard-Tools{
        border: none;
        animation: none;
        width: 100%;
        padding-bottom:30px  ;
    }
    .NavButtons-Wrapper{
        width: 70%;
    }

}