
.App {
  margin: 0;
  min-height: 100vh;
  background-image: url('../Images/sky.jpg');
  background-position: cover;
}
.Login-Form_Wrapper{
  display: flex;
  font-family: "Press Start 2P",sans-serif;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  
}
.Login-Img{
  max-width: 23%;
}

@keyframes neon-pulse {
  from {
    border-color: #00ff00;
    box-shadow: 0 0 15px #00ff00;
  }
  to {
    border-color: #33ff33;
    box-shadow: 0 0 25px #33ff33;
  }
}
.Login-Form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 1%;
  text-align: center;
  min-width: 55%;
  height: 300px;
  border: 10px solid #00ff00; 
  animation: neon-pulse 2s ease-in-out infinite alternate;
  align-items: center;
  gap: 20px;
  z-index: 2000;
}

.Login-Form #Login-UserName{
  width: 350px;
  min-height: 30px;
  font-family: "Press Start 2P",sans-serif;
  text-align: center;
  border: none;
  background-color: white;
  color:#00c800;

}
.Login-Form #Login-UserName::placeholder{
  
  text-transform: uppercase;
  color: #00c800;
}
.Login-Form #Login-PassWord{
  width: 350px;
  min-height: 30px;
  font-family: "Press Start 2P",sans-serif;
  text-align: center;
  border: none;
  background-color: white;
  color:#00c800 ;

}
.Login-Form #Login-PassWord::placeholder{
  color:green;
  
  text-transform: uppercase;
}

.Login-Form button{
  background-color: transparent;
  padding:10px;  
  line-height: 25px;
  border:none ;
  font-family: "Press Start 2P",sans-serif;
  cursor: pointer;
  width: 280px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #00c800;
  border: 2px solid white;
  
}
.Login-Form button:hover{
  transform: scale(1.1);
}
.Login-Form p{
  font-size: 10px;
  color: white;
}
.Link{
  color: #00c800 !important;
  cursor: pointer;
  
}
.Link:hover{
  transform: scale(1.4)!important;
}
.Login-Footer{
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 10px;
}
.LinkedinIcon {
  height: clamp(50px, 5vw, 80px);
  cursor: pointer;
  color: #00c800;
}

.LinkedinIcon:hover{
  
  transform: scale(1.2);
}



.Login-Registration-Wrapper {
  width: 55%;
  display: flex;
  flex-direction: column;
  z-index: 2001;
  background-image: url('../Images/sky.jpg');
  background-position: cover;
  margin: 0;
  border: 10px solid #00ff00; 
  animation: neon-pulse 2s ease-in-out infinite alternate;
}







@media only screen and (max-width:900px){
  .Login-Img{
    max-width: 60%;
    
  }

  .Login-Form_Wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
    
.Login-Registration-Wrapper {
  width:93%;
}
}




@media only screen and (max-width:600px){
  .Login-Form {
    width:95%;
     min-width: 0%;
  
  }

  .Login-Form #Login-PassWord{
    max-width:90%;
  }
  .Login-Form #Login-UserName{
    max-width:90%;
  }
  .Login-Form button{ width: 80%;}

}



@media only screen and (max-width:400px){
  
  .Login-Img{
    width: 100%;
    max-width: 100%;
    margin:0;
    padding: 0;
  }
  .Login-Footer{
    min-height: 117px;
    align-items: flex-end;
    padding-bottom: 17px;
  }
  .Login-Registration-Wrapper {
    max-width: 97%;
 
  }
  

  
}
