
.Lobby-Wrapper{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Press Start 2P",sans-serif;
    color:white;
    display: flex;
    
}
.Elements-Wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 14px;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
  }
  .Elements-Title{
  padding-left: 10px;
  }
  .Elements{
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
  }
  .Elements-Wrapper p {
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 3px; /* Set gap to 0 to eliminate spacing */
    margin: 2px; /* Remove any margin */
    padding: 0; /* Remove any padding */
  }
  .Elements-Wrapper p:hover {
    cursor: pointer;
    color: #00c800;
    .availability-badge{
        background-color: white;
    }
 
  }
.availability-badge {
    background-color: #00c800;;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
  }

.Display-Wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 0;
    padding: 0; 
}
