

.Registration-Wrapper{
    border: 8px solid white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between ;
    text-align: center;
    margin: 0;
  
}
#Registration-Exit_Button{
     margin: 0;
     padding: 11px;
     transform: scale(2);
    align-self: flex-end;
   color:white;
   cursor: pointer;
}
#Registration-Exit_Button:hover{
    transform: scale(2.2);
}
.Registration-Form{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    

}
.Registreation-Form_Element{
    padding: 7px 20px;
    border: 1px solid white;
    width: 90%;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.1em;
    color: white;
}
.Registreation-Form_Element input{
    width: 70%;
    min-height: 30px;
}
.Registration-Wrapper button{
    background-color: transparent;
    padding:10px;  
    line-height: 25px;
    border:none ;
    min-width: 70%;
    font-family: "Press Start 2P",sans-serif;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: 2px solid white
    
  }
  .Registration-Wrapper button:hover{
    transform: scale(1.3);
  }