

.Registration-Wrapper{
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
    font-size: clamp(13px, 2vw, 17px);
  
}

 .Registration-Wrapper-Head{
    align-self: flex-end;
    display: flex;
    color:#00c800;
    text-transform:uppercase;
    width: 70%;
    align-items: center;
    justify-content: space-between;
 } 

#Registration-Exit_Button{
    margin-top: -20px;
    color:white!important;
     padding:5px 8px;
     transform: scale(2);
   color:white;
   align-self: flex-start;
   cursor: pointer; 
}
#Registration-Exit_Button:hover{
    transform: scale(2.4);
}
.Registration-Form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;   

}
.Registration-Form_Element{
    padding: 7px 20px;
    width: 90%;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.1em;
    color: white;
    text-transform: uppercase;
}
.Registration-Form_Element input{
    width: 80%;
    min-height: 30px;
    
}
.Registration-Wrapper button{
    background-color: transparent;
    padding:10px;  
    line-height: 25px;
    border:none ;
    min-width: 70%;
    font-family: "Press Start 2P",sans-serif;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: 2px solid white
    
  }
  .Registration-Wrapper button:hover{
    transform: scale(1.2);
  }
  
  @media only screen and (max-width:400px){
 
    .Registration-Form{
        padding: 20px 0;
        gap: 5px;
    }
    .Registration-Form_Element{
        flex-direction: column;
        padding: 10px 0;
        line-height: 0;
        border-right: none;
        border-left: none;
        border-top: none;
    }
    .Registration-Wrapper-Head{
        width: 100%;
    }

  }